@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .top-nav-fixed {
    @apply !fixed bg-black bg-opacity-40 text-white shadow-[0_5px_30px_2px_rgba(0,0,0,0.7)];
  }
  .top-nav {
    @apply !absolute;
  }
  .section-content {
    @apply !relative z-0 h-auto flex-1;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hidden\! {
  display: none !important;
}
