@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .top-nav-fixed {
    @apply !fixed bg-black bg-opacity-40 text-white shadow-[0_5px_30px_2px_rgba(0,0,0,0.7)];
  }
  .top-nav {
    @apply !absolute;
  }
  .section-content {
    @apply !relative z-0 h-auto flex-1;
  }

  .breadActive {
    @apply !w-full rotate-45;
    @apply before:!w-full before:rotate-90;
    @apply after:!hidden;
  }

  .navMenuActive {
    @apply !flex absolute top-0 w-full mx-auto !translate-y-0;
    @apply transition-transform bg-gradient-to-b from-sky-900 via-sky-600 to-transparent;
  }

  .section-wrapper {
    @apply pt-40 w-11/12 m-auto sm:w-2/3 flex flex-col relative gap-4 py-10 px-2
    sm:py-0 sm:px-0 sm:gap-20 sm:even:flex-row sm:odd:flex-row-reverse text-left mt-20 first:mt-20 sm:mt-20 sm:pt-20;
  }

  .section-wrapper:nth-child(even) > .section-content {
    @apply text-right;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hidden\! {
  display: none !important;
}

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
